.aboutme {
  background-color: $gray-white;
  color: $primary;
  padding: 4em 0;

  &__image-col {
    display: none;
  }

  &__content-col {
    a {
      color: $primary;
      font-weight: 600;

      &:hover {
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .aboutme {
    &__image-col {
      display: block;

      &__image-container {
        padding: 2em;

        img {
          display: block;
          height: auto;
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}
