.mobile-nav {
  &__hamburger {
    color: $gray-white;
    font-size: $font-medium;
    position: relative;
    top: 0;
    right: 1rem;
  }

  &__items {
    background-color: $gray-white;
    position: absolute;
    height: 10em;
    top: 3.5em;
    right: 1em;
    width: 0;
    z-index: 10;
    overflow: hidden;
    border-radius: 2rem;

    -webkit-box-shadow: 0 8px 10px -10px $black;
    -moz-box-shadow: 0 8px 10px -10px $black;
    box-shadow: 0 8px 10px -10px $black;

    &__list {
      margin-top: 1em;

      li {
        padding: 1em 0;
        list-style: none;

        a {
          color: $primary;
          font-size: $font-regular-plus;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .mobile-nav {
    &__hamburger {
      display: none;
    }

    &__items {
      display: none;
    }
  }
}
