.skills {
  background-color: $secondary;
  padding: 4rem 0;

  &__area-title {
    font-size: $font-medium;
  }

  &__disclaimer {
    opacity: 0.5;
  }

  &__image-col {
    display: none;
  }

  &__content-col__content {
    &__FEBE-row,
    &__other-row {
      ul {
        & > li {
          list-style-image: url("../icons/cube.svg");
        }
      }
    }
  }
}


@include media-breakpoint-up(md) {
  .skills {
    &__image-col {
      display: block;

      &__image-container {
        padding: 2rem;

        img {
          display: block;
          width: 100%;
          height: auto;
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }
  }
}
