@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/** Variables **/
$primary: #fafafa;
$secondary: #e9ecef;
$white: #ffffff;
$black: #000000;

$font-large: 2rem;
$font-medium: 1.5rem;
$font-small: 1.2rem;
$font-regular: 1rem;

$heading-large: 3rem;
$heading-medium: 2.5rem;
$heading-normal: 2rem;
$heading-small: 1.5rem;


* {
    font-family: 'Poppins', sans-serif;
}


/** SectionTitle - reusuable component to display section title and accent line **/
.section-title {
  &__title {
    display: inline-block;
    font-size: $font-medium;
    font-weight: bold;
  }

  &__accentLine {
    content: "";
    background-color: $black;
    display: inline-block;
    height: 2px;
    margin-bottom: .5em;
    margin-left: 1em;
    position: relative;
    top: 50%;
    width: 5em;
  }
}

/** HEADER **/
.header {
  @extend .container;

  &__logo-row {
    overflow: hidden;
    width: 90px;
    height: 90px;

    img {
      width: 100%;
      height: 100%; 
      object-fit: contain;
    }
  }

  // Menu
  &__menu-row {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-menu {
      & > li {
        display: none;
        max-width: 50%;
        list-style-type: none;
        padding: 0 1em;
  
        & > a {
          color: $black;
          font-size: $font-small;
          font-weight: bold;
        }
      }
    }
  }
}

#hamburger {
  color: $black;
  font-size: $font-medium;
  position: relative;
  top: 0;
  right: 1rem;
}

#mobile-nav {
  background-color: $white;
  position: absolute;
  height: 14rem;
  top: 3.5rem;
  right: 1rem;
  width: 0;
  z-index: 10;
  overflow: hidden;
  border-radius: 2rem;

  -webkit-box-shadow: 0 8px 10px -10px $black;
  -moz-box-shadow: 0 8px 10px -10px $black;
       box-shadow: 0 8px 10px -10px $black;
}

#mobile-nav-items {
  margin-top: 1em;
  list-style: none;

  li {
    padding: 1em 0;
    list-style: none;
    
    a {
      color: $black;
      font-size: $font-small;
      font-weight: bold;
    }
  }
}


/** BANNER **/
.banner {
  min-height: 25vh;
  background-image: linear-gradient(to right, #ECE9E6, #FFFFFF);

  &__flexbox {
      display: flex;
      flex-direction: column;
      padding: 2.5rem 0;

      &__box1 {
          &__headline-content {
              text-align: center;

              &__headline {
                  font-size: $heading-medium;
                  font-weight: 600;
              }

              &__subheadline {
                  font-size: $font-regular;
              }
          }
      }

      &__box2 {
          text-align: center;
      }
  }
}


/** ABOUT **/
.aboutme {
  padding: 4rem 0;
  overflow: hidden;
  @extend .container;

  &__image-col {
    display: none;
  }

  &__content-col {
    display: block;
  }
}


/** Skills **/
.skills {
  background: $secondary;
  padding: 2rem 0;

  &__container {
    &__items-row {
      text-align: center;
      padding: 1em;

      &__item {
        border: 2px solid #343434;
        background-color: $primary;
        font-size: $font-small;
        padding: 1rem;
        margin: 1rem 0;
      }
    }
  }
}


/** More Info **/
.more-info {
  padding: 2rem 0;

  &__icon-row {
    padding: 1rem;

    &__flexbox {
      align-items: center;
      justify-content: space-around;
      width: 100%;

      &__item {
        height: 4rem;
        margin: 1rem 0;
        width: 4rem;
        
        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}


/** Footer **/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 5em;
  padding: 2.5em 0;
  background-color: #ced4da;
  color: $black;
  font-weight: bold;
}


/** Media queries **/
@include media-breakpoint-up(xs) { 
  .section-title__title {
    font-size: $font-medium;
  }
}

@include media-breakpoint-up(md) { 
  .banner {
    padding: 2.5rem 0;

    &__flexbox {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &__box1 {
          flex: 1 1 auto;

          &__headline-content {
              text-align: left;

              &__headline {
                  font-size: $heading-medium;
              }
              &__subheadline {
                  font-size: $heading-small;
              }
          }
      }

      &__box2 {
          flex: 1 1 auto;
      }
    }
  }

  .header {
    &__logo-row {
      display: inline;
    }
    &__menu-row {
      .main-menu {
        & > li {
          display: inline;
        }
      }
    }
  }

  #hamburger,
  #mobile-nav {
    display: none;
  }

  .aboutme {
    &__image-col {
      display: block;
    }
  }

  // sectionTitle cmp
  .section-title {
    &__title {
      font-size: $font-large;
    }
    &__accentLine {
      width: 5em;
    }
  }

  // MORE INFO
  .more-info__icon-row__flexbox {
    &__item {
      width: 8rem;
      height: 8rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .banner {
      padding: 4rem 0;

      &__flexbox {
          &__box1 {
              justify-content: flex-end;

              &__headline-content {
                  &__headline {
                      font-size: $heading-large;
                  }
                  &__subheadline {
                      font-size: $heading-medium;
                  }
              }
          } 
      }
  }
}   